/* HER */
.list-container{
    position: absolute;
    width: 30%;
    left: 60%;
    display: block;
    align-items: baseline;
    justify-content: 100%;
    z-index: 2;

}

.list-container thead {
    background-color: #9ed5e7;
}

.list-container thead th {
    font-weight: bold;
    font-size: 1.1em;
    font-family: "Century Gothic", sans-serif;
    display: block;
    width: 100%;
}

    