/* HER */
.list-container{
    position: absolute;
    width: 20%;
    left: 40%;
    display: block;
    align-items: baseline;
    justify-content: 100%;
    background-color: #CAF0F8;
    z-index: 2;
}


    